.popup__input {
  position: relative;
  padding: 0 0 9px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
}

.popup__input.popup__input_type_error {
  outline: 0;
  border-color: red;
}

.popup__input-error_active {
  min-height: 30px;
  display: block;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  position: absolute;
  top: calc(100% + 0.5px);
}